---
title: Coding | Booligoosh
---
<!--
View this code on Github instead: 
https://github.com/Booligoosh/booligoosh.github.io
-->
<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <!-- Search Engine Tags -->
    <meta name="robots" content="noarchive" />
    <meta name="description" content="This a portfolio website for Booligoosh, an amateur graphic designer & programmer. On this website you can view projects I've worked on, and sign up to my newsletter." />
    <meta name="keywords" content="booligoosh,coding,code,programming,github,scratch,design,logos,behance,amateur">
    <!-- Open Graph Tags -->
    <meta property="og:title" content="Programs by Booligoosh - the website of an amateur programmer" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="This a portfolio website for Booligoosh, an amateur graphic designer & programmer. With stunning graphics & exciting projects, this website is a pleasure to look around. On this website you can view projects I've worked on, and sign up to my newsletter." />
    <meta property="og:url" content="/coding.html" />
    <meta property="og:image" content="/y-og-image.png" />
</head>

<body>
    <div class="header">
        <div class=logo>
            <a href="/">
                <!-- Created with Inkscape (http://www.inkscape.org/) -->
                <img src="/v-logo.svg">
            </a>
        </div>
    </div>
    <a name="top"></a>
    <div class="tabs">
        <h3>
<a href="/">Home</a>
<a href="/coding#top"><span>Coding</span></a>
<a href="/scratch#top">Scratch</a>
<a href="/design#top">Graphic Design</a>
<a href="http://eepurl.com/bz0PTD">Newsletter</a>
</h3>
    </div>

    <div class="content">
        <div class=info>
            <div class="accounts">
                <h4>Here are my related accounts:</h4>
                <h4><a href="https://github.com/Booligoosh" target="blank">GitHub</a> - <a href="https://www.codingame.com/profile/1f7c0a954e65b4c68398cdf59a5fb7b56803941" target="blank">CodinGame</a> - <a href="https://www.codecademy.com/Booligoosh" target="blank">Codecademy</a></h4>
            </div>
            <h2>Here are some websites I have made:</h2>
            <h4 id="quicklinks-desktop">
                <!--BEGIN AUTO CONTENT-->
                {% assign codingposts = site.coding | reverse %}
                {% for post in codingposts %}
                <a href="#{{post.rawname}}-desktop-a">{{post.title}}</a>
                {% if post != codingposts.last %} | {% endif %}
                {% endfor %}
                <!--END AUTO CONTENT-->
            </h4>
            <ul id="quicklinks-mobile">
                <!--BEGIN AUTO CONTENT-->
                {% assign codingposts = site.coding | reverse %}
                {% for post in codingposts %}
                <li><a href="#{{post.rawname}}-mobile">{{post.title}}</a></li>
                {% endfor %}
                <!--END AUTO CONTENT-->
            </ul>
            <h3 id="backtotop"><a href="#top">Back to top &#10177;</a></h3>
        </div>
        <div class="websites-desktop">
            <table>
                <tbody>
                <!--BEGIN AUTO CONTENT-->
                    {% assign codingposts = site.coding | reverse %}
                    {% for post in codingposts %}
                    <tr id="{{ post.rawname }}-desktop">
                        <td id="left">
                            <a href="{{ post.link }}" target="blank" id="{{ post.rawname }}-desktop-a">
                                <img src="{{ post.image | prepend: site.img }}">
                            </a>
                        </td>
                        <td id="right">
                            <h2>{{ post.title }}</h2>
                            <h4>{{ post.content }}</h4>
                        </td>
                    </tr>
                    {% endfor %}
                <!--END AUTO CONTENT-->
                </tbody>
            </table>
        </div>
        <div class="websites-mobile">
            <!--BEGIN AUTO CONTENT-->
            {% assign codingposts = site.coding | reverse %}
            {% for post in codingposts %}
            <div id="{{post.rawname}}-mobile">
                <a name="{{post.rawname}}-mobile"></a>
                <img src="{{ post.image | prepend: site.img }}">
                <h2>{{post.title}}</h2>
                <h4>{{ post.content }}</h4>
            </div>
            {% endfor %}
            <!--END AUTO CONTENT-->
            <div id="rubiks-mobile">
                <a name="rubiks-mobile"></a>
                <img src="/z-rubiks.png">
                <h2>Rubik's Time</h2>
                <h4>This is a clean, flat design Rubik's cube timer I made. I made it because I got fed up with the ugly/cluttered look of other timers. I also made it so I could include unique features, such as a line graph of all solves over time. It took a long time to make, and is definitely the hardest & most complicated thing I have done. The mobile version is not completely working yet. I have started work on a <a href="https://booligoosh.github.io/rubiks-time-multi/" target="blank">multiplayer version</a>, where you can time people simultaneously and see the winner.</h4>
            </div>
            <div id="resistorfind-mobile">
                <a name="resistorfind-mobile"></a>
                <img src="/z-resistorfind.png">
                <h2>ResistorFind</h2>
                <h4>This program shows you what a resistor with a specific ohm's and tolerance looks like. It is great for electronics/hobby projects. To make it, I had to actually edit SVG's with JavaScript (a new experience for me!). I also had to work out a complex algorithm for finding the multiplier band.</h4>
            </div>
            <div id="technetium-mobile">
                <a name="technetium-mobile"></a>
                <img src="/z-technetium.png">
                <h2>TechnetiumPrime</h2>
                <h4>This is a prime generator I made using JavaScript. I used arrays, for loops and many other things to develop a quick and efficient algorithm for finding primes. This is one of my first expreiments with JavaScript.</h4>
            </div>
            <div id="booligoosh-mobile">
                <a name="booligoosh-mobile"></a>
                <img src="/z-booligoosh.png">
                <h2>Booligoosh</h2>
                <h4>My Website (you are on it right now). I made this website as a portfolio for my work.</h4>
            </div>
            <div id="orange_css-mobile">
                <a name="orange_css-mobile"></a>
                <img src="/z-orange_css.png">
                <h2>Orange CSS</h2>
                <h4>This is my contribution to the <a href="http://www.csszengarden.com/" target="blank" id="extlink">CSS Zen Garden</a><a href="http://booligoosh.github.io/csszen" target="blank">. The HTML was created by </a><a href="https://github.com/mezzoblue" target="blank" id="extlink">Dave Shea</a><a href="http://booligoosh.github.io/csszen" target="blank">, and so was some of the CSS.</a></h4>
            </div>
            <div id="blueprint-mobile">
                <a name="blueprint-mobile"></a>
                <img src="/z-blueprint.png">
                <h2>Blueprint</h2>
                <h4>This is a website I made with no particular purpose, other than to look cool.</h4>
            </div>
        </div>
    </div>
    {% include before-end-body-tag.html %}
</body>

</html>