---
title: "Ethan / @Booligoosh"
rawname: home
layout: basic
---
<main>
    <div class="rainbow-bar"></div>
    <div class="rainbow-bar"></div>
    <section class="hero">
      <div class="badges">
        <!-- <img src="https://www.webdesignmuseum.org/uploaded/exhibitions/web-banners-in-the-90s/mac-mall-1998.gif"> -->
        <img src="{% base64 ./img/badges/800x600.gif %}">
        <img src="{% base64 ./img/badges/netscape_now.gif %}">
        <img src="{% base64 ./img/badges/best_viewed_with_eyes.gif %}">
      </div>
      <div class="hero-inner">
        <div class="hero-main-text">Hey, I&rsquo;m Ethan.</div>
        <div class="hero-secondary-text">I like building beautiful software that helps<br>people be more productive and improve their lives.</div>
        <section>
          <h2 class="section-heading">My projects</h2>
          <div class="grid">
            <a href="https://kanbanmail.app" target="_blank">
              <h3>KanbanMail</h3>
              <p>An email client that helps you get organized.</p>
            </a>
            <a href="https://codetheweb.blog" target="_blank">
              <h3>Code The Web</h3>
              <p>Web development explained for normal people.</p>
            </a>
            <a href="https://1feed.app" target="_blank">
              <h3>1Feed</h3>
              <p>A healthier and calmer way to consume content online.</p>
            </a>
            <a href="https://maker.rocks" target="_blank">
              <h3>Maker.rocks</h3>
              <p>A shareable profile for other makers.</p>
            </a>
          </div>
        </section>
        <section>
          <h2 class="section-heading">Find me on</h2>
          <div class="grid">
            <a href="https://twitter.com/Booligoosh" target="_blank" rel="me">
              <h3>Twitter</h3>
            </a>
            <a href="https://www.linkedin.com/in/booligoosh/" target="_blank" rel="me">
              <h3>LinkedIn</h3>
            </a>
            <a href="https://www.youtube.com/channel/UCms6bsRIHFSscZhxK0-K-rQ" target="_blank" rel="me">
              <h3>YouTube</h3>
            </a>
            <a href="https://fosstodon.org/@booligoosh" target="_blank" rel="me">
              <h3>Mastodon</h3>
            </a>
            <a href="https://getmakerlog.com/@Booligoosh" target="_blank" rel="me">
              <h3>Makerlog</h3>
            </a>
            <a href="https://www.producthunt.com/@Booligoosh" target="_blank" rel="me">
              <h3>Product Hunt</h3>
            </a>
            <a href="https://yourstack.com/@Booligoosh" target="_blank" rel="me">
              <h3>YourStack</h3>
            </a>
            <a href="https://twitch.tv/ethan_the_maker" target="_blank" rel="me">
              <h3>Twitch</h3>
            </a>
            <a href="https://unsplash.com/@booligoosh" target="_blank" rel="me">
              <h3>Unsplash</h3>
            </a>
            <a href="https://github.com/Booligoosh" target="_blank" rel="me">
              <h3>GitHub</h3>
            </a>
            <a href="https://dev.to/Booligoosh" target="_blank" rel="me">
              <h3>Dev.to</h3>
            </a>
            <a href="https://open.spotify.com/user/booligoosh" target="_blank" rel="me">
              <h3>Spotify</h3>
            </a>
            <a href="https://www.last.fm/user/Booligoosh" target="_blank" rel="me">
              <h3>Last.fm</h3>
            </a>
          </div>
        </section>
        <!-- <section>
          <h2 class="section-heading">Blog / newsletter</h2>
          <div class="grid">
            <a href="/blog">
              <h3>Blog</h3>
              <p>I have a blog, although I don't write articles that often.</p>
            </a>
            <a href="/newsletter">
              <h3>Newsletter</h3>
              <p>If you want to be notified about said articles.</p>
            </a>
          </div>
        </section> -->
        <section>
          <h2 class="section-heading">Blog posts</h2>
          <div class="grid">
            {% for post in site.posts %}
            {% if post.draft != true %}
            <a href="{{post.url}}">
              <h3>{{post.title}}</h3>
              <p>{{ post.date | date_to_string }}</p>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </section>
      </div>
    </section>
    <div class="my-head"></div>
  </main>