/*  Color scheme based off http://colorhunt.co/c/4371
    #F0E9FF
    #CEA9FF
    #B346FF
    #290046
    #545454  */

@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|PT+Serif:400,400i,700,700i');
@import url(https://rawgit.com/jonsuh/hamburgers/master/dist/hamburgers.css) screen and (max-width: 574px);

@font-face {
    font-family: Lombok;
    src: url('fonts/lombok.otf');
}
/*
Solution to Safari iOS font rendering, based off:
https://css-tricks.com/forums/topic/weird-mobile-safari-font-face-problem-font-doubled-and-offset-to-the-left/
*/
@font-face {
    font-family: Lombok;
    src: url('fonts/lombok.otf');
    font-weight: bold;
}
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

*:focus {
    outline: none;
}

body {
    margin-top: 60px !important;
    opacity: 1 !important;
    margin: 0;
    color: #32424A;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    text-align: center;
}

.info h2 {
    display: inline-block;
}

header {
    color: #32424A;
    font-weight: bold;
    padding: 1px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    padding: 0;
    display: flex;
    z-index: 99;
    background-position: center top;
    filter: brightness(1);
}

header nav {
    width: 100%;
}

header nav ul {
    margin: 0;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

header nav ul > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav li {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 .5em;
    border-radius: 5px;
    
    height: 65%;
    line-height: 1em;
}

header nav li.nav-section-explainer {
    background: transparent !important;
    opacity: .75;
    margin: 0;
}

header nav ul > div.projects li {
    background: white;
}

/*body[browser='safari'] */header nav ul > div.projects li a {
    -webkit-background-clip: none !important;
}

header nav ul > div.projects li.codetheweb a, header nav ul > div.projects li.codetheweb:hover {
    background: linear-gradient(100deg,#ffce69,#fa709a);
}

/*body[browser='safari'] */header nav ul > div.projects li.codetheweb a {
    color: #F0957E;
    -webkit-text-fill-color: #F0957E;
}

header nav ul > div.projects li.kanbanmail a, header nav ul > div.projects li.kanbanmail:hover {
    background: linear-gradient(90deg,#4784f6,#1A28DA);
}

/*body[browser='safari'] */header nav ul > div.projects li.kanbanmail a {
    color: #4784f6;
    -webkit-text-fill-color: #4784f6;
}

header nav ul > div.projects li a {
    color: white;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

header nav ul > div.projects li:hover a {
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: white !important;
    color: white !important
}

header nav ul > div:not(.projects) li:hover {
    filter: brightness(1.1);
}

header nav ul > div:first-child li:first-child {
    margin-left: 2em;
}

header nav ul > div:last-child li:last-child {
    margin-right: 2em;
}

header nav a, header nav li.nav-section-explainer {
    color: inherit;
    text-decoration: none;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav a i {
    margin-right: 0.5em;
}

header nav a span.short-name {
    display: none;
}

header nav {
    margin: 0;
}

header .logo {
    display: flex;
    text-decoration: none;
    color: inherit;
}

header .logo h2 {
    margin: 0;
    margin-left: 1em;
    line-height: inherit;
    color: inherit;
    display: none;
}

header .logo img {
    height: 60px;
    filter: drop-shadow(0 0 7px white);
    display: none;
}

header .hamburger {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100%;
    margin: 0;
    padding: 17px;
    z-index: 5;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #32424A !important;
}

.top-anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

body.home .top-anchor {
    position: absolute;
    bottom: 56px; /*theoretically this should be 60px but idk, the internet is weird. */
}

.content {
    background-color: transparent;
    margin: 60px;
    margin-top: 0;
    text-align: left;
    padding: 2rem;
    line-height: 2rem;
    border-radius: 1em;
    letter-spacing: 1px;
}

body.contact .content {
    margin-bottom: 20px;
}

.content a {
    color: inherit;
}

.content img, .main-content-list.fullwidth-feature-items .item, .quicklinks li {
    border-radius: 5px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
}

.info p {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

#extlink {
    text-decoration: underline;
}

#warning {
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
    padding: 2px;
}

.back-to-top {
    display: block;
    margin-top: -60px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: white;
    opacity: .8;
    letter-spacing: 1px;
    transition: opacity, .5s;
}

.back-to-top:hover {
    opacity: 1;
}

table {
    width: 100%;
}

td {
    width: 50%;
    padding: 15px;
}

#left {
    text-align: right;
}

#right {
    text-align: left;
}

.designs-desktop img {
    height: 402px;
    width: auto;
}

#skillscoder11 {
    background: url('zz-skillscoder11.svg');
    background-size: cover;
    height: 402px;
    width: 402px;
}

#skillscoder11:hover {
    background: url('zz-skillscoder11.gif');
    background-size: cover;
    height: 402px;
    width: 402px;
}

.accounts {
    text-align: center;
    background-color: #cea9ff;
    padding: 1px;
    color: #545454;
    margin-bottom: 1rem;
    /* DIE!!!!! (for the moment) */
    DISPLAY: NONE;
}

.accounts a {
    color: black;
    text-decoration: none;
}

.contact-cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1em;
}

.contact-cards a {
    padding: .5em 1em;
    font-size: 4em;
    background: #32424A;
    color: white;
    border-radius: 5px;
    position: relative;
    bottom: 0;
}

.contact-cards a:hover {
    bottom: 5px;
}

span.with-hover-content {
    line-height: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    height: 3rem;
    margin-bottom: 2rem;
    width: auto;
}

span > *.hover-content {
    display: initial !important;
    max-width: 95%;
    margin-left: initial;
    margin-right: initial;
    margin-top: initial;
    height: initial;
    margin-bottom: initial;
    width: initial;
}

.share {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.share .share-message {
    display: block;
    font-size: 2rem;
}

.addthis_inline_share_toolbox {
    margin-top: 1rem;
}

body.home .share, body.contact .share {
    display: none;
}

body:before, header/*:before*/, .post-page-header {
    background-image: linear-gradient(45deg,rgba(245, 245, 245, 0),#F5F5F5),linear-gradient(120deg, #fccb90 0%, #d57eeb 100%) !important;
    background-size: 100vw 100vh !important;
    background-repeat: no-repeat !important;
}

body:before/*, header:before*/ {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}

header:before {
    clip: rect(0,100vw,60px,0);
}

.photo-grid {
    display: flex;
}

@media screen and (orientation:portrait) {
    .photo-grid {
        flex-wrap: wrap;
    }
    .photo-grid .col {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.photo-grid .col {
    padding: 0 1em;
    width: fit-content;
}

.photo-grid .col:first-child {
    padding-left: 0;
}

.photo-grid .col:last-child {
    padding-right: 0;
}

.photo-grid img {
    width: 100%;
    margin: .5em 0;
}

.header {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    box-sizing: border-box;
}

body.home .header {
    height: auto;
    min-height: 100vh;
    margin-top: -60px;
    text-align: left;
}

body.home .header > div {
    display: flex;
    flex-direction: column-reverse;
}

.header h1 {
    margin: 0;
    font-size: 3em;
    letter-spacing: 1px;
}

body.home .header h1 {
    margin-top: 0.83em; /* Default */
}

.header h1 span {
    color: #b452f7;
}

.header h2 {
    color: #57727f;
    font-weight: normal;
}

.header h2 a {
    color: #2196F3;
    text-decoration-color: transparent;
    transition: text-decoration-color, .25s;
}

.header h2 a:hover {
    text-decoration-color: #2196F3;
}

.header .makerlog-embed {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    overflow-x: scroll; /* Just in case */
    margin-top: 1em;
    position: relative;
    background: linear-gradient(#32424A 50px,#32424A 50px,#ecf0f1 50px, #ecf0f1 50px); /* While loading */
}

.header .makerlog-embed iframe {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

body.home:not([browser='safari']) .header .text, body.home:not([browser='safari']) .header .makerlog-embed, body.home:not([browser='safari']) .header .text > *, body.home:not([browser='safari']) .header .makerlog-embed > * {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

body.home:not([browser='safari']) .header .makerlog-embed {
    /* transform: perspective(1000px) rotateY(10deg) !important; */
    transform: perspective(700px) rotateY(10deg) translateZ(70px) scale(0.9) !important;
    /* animation: home-makerlog-animation 10s infinite ease-in-out alternate; */
}

body.home:not([browser='safari']) .header .makerlog-embed:hover, body.home:not([browser='safari']) .header .text {
    transform: rotateY(0) scale(1) !important;
}

body.home:not([browser='safari']) .header .makerlog-embed:not(:hover) ~ .text {
    /* transform: perspective(1000px) rotateY(-20deg) !important; */
    transform: perspective(700px) rotateY(-20deg) translateZ(50px) scale(0.9) !important;
    /* animation: home-text-animation 10s infinite ease-in-out alternate; */
}

@keyframes home-text-animation {
    0% {
        transform: perspective(1000px) rotateY(20deg) translateZ(50px) scale(0.9) !important;
    }
    100%  {
        transform: perspective(1000px) rotateY(-20deg) translateZ(50px) scale(0.9) !important;
    }
}

@keyframes home-makerlog-animation {
    0% {
        transform: perspective(1000px) rotateY(10deg) translateZ(70px) scale(0.9) !important;
    }
    100%  {
        transform: perspective(1000px) rotateY(-10deg) translateZ(70px) scale(0.9) !important;
    }
}

.main-content-list.fullwidth-feature-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.main-content-list.fullwidth-feature-items > a {
    text-decoration: none;
}

.main-content-list.fullwidth-feature-items .item {
    box-sizing: border-box;
    display: block;
    min-height: calc(100vh - 60px - 4rem);
    padding: 3rem;
    line-height: 1.5em;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center center;
    color: white;
}

.main-content-list.fullwidth-feature-items .item:first-child {
    margin-top: 0;
}

.main-content-list.fullwidth-feature-items .item h2 {
    background: rgba(0,0,0,0.6);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 950px) {
    .main-content-list.fullwidth-feature-items {
        grid-template-columns: 1fr;
    }
    .main-content-list.fullwidth-feature-items .item {
        grid-column-start: 1 !important;
        grid-column-end: 1 !important;
    }
}

.quicklinks {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.quicklinks li {
    margin: 0.5em;
    min-width: max-content;
    background-size: cover;
    background-position: center center;
}

.quicklinks a {
    color: white;
    text-decoration: none;
    padding: 1em;
    line-height: 3em;
}

@media screen and (max-width: 1087px) {
    header img {
        display: none;
    }
    header h2 {
        left: 0;
    }
}

@media screen and (max-width: 997px) {
    header img {
        display: initial;
    }
    header h2 {
        display: none;
    }
}

@media screen and (max-width: 830px) {
    header nav li.nav-section-explainer {
        display: none;
    }
}

@media screen and (max-width: 710px) {
    header nav ul > div:not(.projects) a span {
        display: none;
    }
}

    
@media screen and (max-width: 662px) {
    header img {
        display: none;
    }
    .header {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        padding-top: 2rem !important;
    }
    header h2 {
        display: none;
    }
    .contact-cards {
        grid-template-columns: 1fr 1fr;
    }
}

/* IF ADDING MORE LINKS TO THE NAV THEN CHANGE THE QUERY SIZES!!! */
/* MOBILE NAV */
@media screen and (max-width: 510px) {
    header {
        top: unset;
        bottom: 0;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.17) !important;
        background-position: center bottom;
    }
    header:before {
        clip: rect(calc(100vh - 60px),100vw,100vh,0) !important;
    }
    body {
        overflow: scroll;
        margin-top: 0 !important;
        margin-bottom: 60px;
    }
    header {
        overflow-x: scroll;
    }
    header nav li {
        height: 50%;
    }
    header nav a i {
        margin-right: 0;
    }
    header nav a span {
        display: none;
    }
    header nav a span.short-name {
        display: block;
    }
    body.home .header {
        margin-top: 0;
        text-align: center;
    }
    .content {
        margin: 0 !important;
        border-radius: 0 !important;
    }
    .back-to-top {
        margin-top: 0 !important;
    }
    .main-content-list.fullwidth-feature-items .item {
        min-height: unset !important;
        padding: 2rem !important;
    }
    .quicklinks li {
        width: 100%;
    }
}

@media screen and (max-width: 485px) {
    .contact-cards {
        grid-template-columns: 1fr;
    }
}