/*  Color scheme based off http://colorhunt.co/c/4371
    #F0E9FF
    #CEA9FF
    #B346FF
    #290046
    #545454  */

@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url(https://rawgit.com/jonsuh/hamburgers/master/dist/hamburgers.css) screen and (max-width: 574px);

@font-face {
    font-family: Lombok;
    src: url('fonts/lombok.otf');
}
/*
Solution to Safari iOS font rendering, based off:
https://css-tricks.com/forums/topic/weird-mobile-safari-font-face-problem-font-doubled-and-offset-to-the-left/
*/
@font-face {
    font-family: Lombok;
    src: url('fonts/lombok.otf');
    font-weight: bold;
}
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

*:focus {
    outline: none;
}

body {
    margin-top: 60px !important;
    background-color: white !important;
    display: block !important;
    margin: 0;
    color: #32424A;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    text-align: center;
}

/* .logo a {
    text-decoration: none;
}

.logo img {
    display: none;
    width: 31.25rem;
    max-width: 100vw;
    height: 100vh;
}

body.home .logo img {
    display: initial;
}

.logo h1 {
    width: 100%;
    color: #545454;
    text-align: center;
    font-size: 4rem;
    font-family: Lombok;
    line-height: 30vh;
    height: 30vh;
    margin-top: 60px;
    margin-bottom: 0;
}

.logo h1 .num {
    font-family: Montserrat;
}

.logo h1 br {
    display: none;
}

body.home .logo h1 {
    position: absolute;
    top: 70vh;
    line-height: initial;
    height: initial;
}

body.not-found .logo h1 {
    margin: 0;
    margin-top: 60px;
    height: calc(100vh - 60px);
    line-height: calc(100vh - 60px);
}


@media screen and (max-width: 463px) {
    .logo h1 {
        font-size: 3rem;
    }
} */

.info {
    
}

.info h2 {
    display: inline-block;
}

header {
    /* color: #cea8fa;
    background-color: #32424A; */
    color: #32424A;
    font-weight: bold;
    padding: 1px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    padding: 0;
    display: flex;
    z-index: 1;
}

header nav {
    width: 100%;
}

header nav ul {
    margin: 0;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav li {
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    transition: width, 1s;
}

header nav a {
    color: inherit;
    text-decoration: none;
}

header nav a span {
    margin-left: 0.5em;
}

header nav {
    margin: 0;
}

header .logo {
    display: flex;
    text-decoration: none;
    color: inherit;
}

header .logo h2 {
    margin: 0;
    margin-left: 1em;
    line-height: inherit;
    color: inherit;
}

header .logo img {
    height: 60px;
    filter: drop-shadow(0 0 7px white);
}

header .hamburger {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100%;
    margin: 0;
    padding: 17px;
    z-index: 5;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #32424A !important;
}

@media screen and (max-width: 1087px) {
    header img {
        display: none;
    }
    header h2 {
        left: 0;
    }
}

@media screen and (max-width: 997px) {
    header img {
        display: initial;
    }
    header h2 {
        display: none;
    }
}

@media screen and (max-width: 662px) {
    header img {
        display: none;
    }
    .header { /* No more need for 60px to align with logo in nav */
        padding: 0 2rem !important;
    }
    header h2 {
        display: none;
    }
}

/* IF ADDING MORE LINKS TO THE NAV THEN CHANGE THE QUERY SIZES!!! */
@media screen and (max-width: 537px) {
    /* .logo h1 br {
        display: initial;
    }
    body.not-found .logo h1 {
        line-height: initial;
        margin-top: calc((100vh - 60px) / 2);
        height: calc(100vh - calc((100vh - 60px) / 2));
    } */
    header img {
        display: none;
    }
    header .logo h2 {
        display: initial;
        width: 100vw;
        text-align: center;
        left: 0;
        margin-left: 0;
    }
    header .hamburger {
        display: initial;
    }
    header nav {
        /* margin-top: calc(-100vh + 60px); SWAP WITH LINE BELOW IF WANT TO HAVE DROP-DOWN EFFECT*/
        margin-top: 60px;
        transition: all,.5s;
        background-color: #b346ff;
        /* box-shadow: inset 0 0 4rem -0.5rem black; CHANGED DIFFERENTIATOR TO BORDER */
        border-top: 2px solid white;
        width: 100vw;
        height: calc(100vh - 60px);
        text-align: center !important;
        line-height: 5em;
        overflow-y: scroll;
        font-size: 1.5em;
        background-color: #32424a;
        position: fixed;
        opacity: 0;
        pointer-events: none;
    }
    header nav ul {
        display: block !important;
        margin: 0 !important;
        padding: 0 !important;
        list-style: none !important;
        text-align: center !important;
        color: #cea9ff !important;
    }
    header nav li {
        padding: initial !important;
        display: list-item !important;
    }
    body {
        overflow: scroll;
    }
    body.nav-out {
        overflow: hidden;
    }
    body.nav-out header nav {
        opacity: 1;
        margin-top: 60px;
        pointer-events: auto;
    }
    .content {
        margin: 0 !important;
        border-radius: 0 !important;
    }
    .back-to-top {
        margin-top: 0 !important;
    }
    .main-content-list.fullwidth-feature-items .item {
        min-height: unset !important;
        padding: 2rem !important;
    }
    .quicklinks li {
        width: 100%;
    }
}

.top-anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

body.home .top-anchor {
    position: absolute;
    bottom: 56px; /*theoretically this should be 60px but idk, the internet is weird. */
}

.content {
    /* background-color: rgba(255, 255, 255, 0.35); */
    background-color: transparent;
    /* box-shadow: 0 0 25vw rgba(0, 0, 0, 0.35); Sad to remove this, but the page just looks better without */
    margin: 60px;
    margin-top: 0;
    text-align: left;
    padding: 2rem;
    line-height: 2rem;
    border-radius: 1em;
    /* color: white; */
    letter-spacing: 1px;
}

.content a {
    color: inherit;
}

.content img, .main-content-list.fullwidth-feature-items .item, .quicklinks li {
    border-radius: 5px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
}

.info p {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

#extlink {
    text-decoration: underline;
}

#warning {
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
    padding: 2px;
}

.back-to-top {
    display: block;
    margin-top: -60px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: white;
    opacity: .8;
    letter-spacing: 1px;
    transition: opacity, .5s;
}

.back-to-top:hover {
    opacity: 1;
}

table {
    width: 100%;
}

td {
    width: 50%;
    padding: 15px;
}

#left {
    text-align: right;
}

#right {
    text-align: left;
}

.designs-desktop img {
    height: 402px;
    width: auto;
}

#skillscoder11 {
    background: url('zz-skillscoder11.svg');
    background-size: cover;
    height: 402px;
    width: 402px;
}

#skillscoder11:hover {
    background: url('zz-skillscoder11.gif');
    background-size: cover;
    height: 402px;
    width: 402px;
}

.accounts {
    text-align: center;
    background-color: #cea9ff;
    padding: 1px;
    color: #545454;
    margin-bottom: 1rem;
    /* DIE!!!!! (for the moment) */
    DISPLAY: NONE;
}

.accounts a {
    color: black;
    text-decoration: none;
}

/* body.contact .content {
    background-color: #cea9ff;
}*/

.contact-cards-container {
    width: 72%;
    margin: auto;
}


/* Pretty much taken from Pine Designs */

.contact-card {
    width: calc(96%/3/*cards per row*/
    );
    display: inline-block;
    background-color: #b346ff;
    margin: 0;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
    height: 7rem;
    vertical-align: middle;
    line-height: 7rem;
    text-align: center;
    /*box-shadow: inset 0 0 21rem black;*/
    transition: all, 0.5s;
}

.contact-card:hover {
    background-color: #fff;
    text-decoration: none;
    box-shadow: none;
    color: #000;
}

.contact-card:hover i.fa,
.contact-card:hover img {
    display: none;
}

.contact-card span {
    display: none;
}

.contact-card:hover span {
    display: inherit;
}

.contact-card img, .contact-card i.fa {
    max-width: 50%;
    max-height: 3rem;
    width: auto;
    vertical-align: middle;
    font-size: 3rem;
}

@media screen and (max-width: 512px) {
    .contact-card img, .contact-card i.fa {
        font-size: 2rem;
    }
    .contact-cards-container {
        margin: 0;
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 412px) {
    .contact-card .with-hover-content img {
        display: none !important;
    }
}

span.with-hover-content {
    line-height: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    height: 3rem;
    margin-bottom: 2rem;
    width: auto;
}

span > *.hover-content {
    display: initial !important;
    max-width: 95%;
    margin-left: initial;
    margin-right: initial;
    margin-top: initial;
    height: initial;
    margin-bottom: initial;
    width: initial;
}

.share {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.share .share-message {
    display: block;
    font-size: 2rem;
}

.addthis_inline_share_toolbox {
    margin-top: 1rem;
}

body.home .share, body.contact .share {
    display: none;
}

/* New styles */

body:before, header:before {
    background-image: linear-gradient(45deg,rgba(245, 245, 245, 0),#F5F5F5),linear-gradient(120deg, #fccb90 0%, #d57eeb 100%) !important;
    background-size: 100vw !important;
    background-repeat: no-repeat !important;
}

body:before, header:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}

header:before {
    clip: rect(0,100vw,60px,0);
}

/* .logo {
    filter: drop-shadow(0 0 1em rgba(0,0,0,0.5));
} */

/* body.home .logo h1 {
    color: white !important;
} */

.photo-grid {
    display: flex;
}

@media screen and (orientation:portrait) {
    .photo-grid {
        flex-wrap: wrap;
    }
    .photo-grid .col {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.photo-grid .col {
    padding: 0 1em;
    width: fit-content;
}

.photo-grid .col:first-child {
    padding-left: 0;
}

.photo-grid .col:last-child {
    padding-right: 0;
}

.photo-grid img {
    width: 100%;
    margin: .5em 0;
}

.header {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
}

.header h1 {
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 1px;
}

.header h1 span {
    color: #b452f7;
}

.header h2 {
    color: #57727f;
}

.main-content-list.fullwidth-feature-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.main-content-list.fullwidth-feature-items > a {
    text-decoration: none;
}

.main-content-list.fullwidth-feature-items .item {
    box-sizing: border-box;
    display: block;
    min-height: calc(100vh - 60px - 4rem);
    padding: 3rem;
    line-height: 1.5em;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center center;
    color: white;
}

.main-content-list.fullwidth-feature-items .item:first-child {
    margin-top: 0;
}

.main-content-list.fullwidth-feature-items .item h2 {
    background: rgba(0,0,0,0.6);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 950px) {
    .main-content-list.fullwidth-feature-items {
        grid-template-columns: 1fr;
    }
    .main-content-list.fullwidth-feature-items .item {
        grid-column-start: 1 !important;
        grid-column-end: 1 !important;
    }
}

.quicklinks {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.quicklinks li {
    margin: 0.5em;
    min-width: max-content;
    background-size: cover;
    background-position: center center;
}

.quicklinks a {
    color: white;
    text-decoration: none;
    padding: 1em;
    line-height: 3em;
}