<title>{{page.title}}</title>
<script>
    if (document.location.protocol == 'http:') {
        document.location.protocol = 'https:';
    }
</script>
<!-- Viewport meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Browser icon tag -->
<link rel="icon" type="image/png" href="{{site.baseurl}}/img/logos/logo.png">
<!-- Windows Tile Tags -->
<meta name="msapplication-config" content="tiles.xml" />
<meta name="application-name" content="Booligoosh" />
<!-- Apple Tags -->
<link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/img/logos/logo-57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/img/logos/logo-72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/img/logos/logo-114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/img/logos/logo-144.png" />
<meta name="apple-mobile-web-app-title" content="{{page.title}}">
<!-- Google site verification -->
<meta name="google-site-verification" content="QNVgLo5Lc8fkZEROTJAVdj6OR-HfetxQswuglVfoCi8" />
<!-- Search Engine Tags -->
<meta name="description" content="This a portfolio website for Booligoosh, an amateur graphic designer & programmer. On this website you can view projects I've worked on, and sign up to my newsletter." />
<meta name="keywords" content="booligoosh,coding,code,programming,github,scratch,design,logos,behance,amateur">
<!-- Open Graph Tags -->
<meta property="og:title" content="{{page.ogtitle}}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="This a portfolio website for Booligoosh, an amateur graphic designer & programmer. With stunning graphics & exciting projects, this website is a pleasure to look around. On this website you can view projects I've worked on, and sign up to my newsletter." />
<meta property="og:url" content="{{page.url}}" />
<meta property="og:image" content="y-og-image.png" />

<!-- SCRIPTS TO LOAD AFTER DOM -->

<!-- Google Analytics -->
<script src="{{site.baseurl}}/ga.js" defer></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->			
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5818ed9dde33624c" defer></script>

<!-- classList polyfill -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js" defer></script>

<!-- Barba.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js" type="text/javascript" defer></script>
<!-- Stuff that I do using Barba.js -->
<script src="{{site.baseurl}}/barba-exec.js" defer></script>