<title>{{page.title}}</title>
<!-- Viewport meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Icons -->
{% include icons.html %}
<!-- Theme color -->
<meta name="theme-color" content="#CEA9FF">
<!-- Google site verification -->
<meta name="google-site-verification" content="QNVgLo5Lc8fkZEROTJAVdj6OR-HfetxQswuglVfoCi8" />
<!-- Search Engine Tags -->
<meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}" />
<meta name="keywords" content="booligoosh,coding,code,programming,github,scratch,design,logos,behance,amateur">
<!-- Open Graph Tags -->
<meta property="og:title" content="{{page.title}}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}" />
<meta property="og:url" content="{{page.url}}" />
<meta property="og:image" content="{% if page.rawname %}{{site.url}}/img/og-screenshots/{{page.rawname}}.png{% else %}{{site.url}}/img/og-screenshots/home.png{% endif %}" />

<!-- SCRIPTS TO LOAD AFTER DOM -->

<!-- Google Analytics -->
<script src="{{site.baseurl}}/ga.js" defer></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->			
<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5818ed9dde33624c" defer></script>
 -->
 
<!-- classList polyfill -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js" defer></script>

<script src="/swfobject.js" defer></script>

<!-- Smooth Scroll -->
<script defer src="https://kryogenix.org/code/browser/smoothscroll/smoothscroll.js"></script>

<!-- Entypo -->
<link rel="stylesheet" href="https://cdn.rawgit.com/alicescfernandes/entypo-webfont/57d4968d/style.css">

<!-- Barba.js -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js" type="text/javascript" defer></script>-->
<!-- Stuff that I do using Barba.js -->
<!--<script src="{{site.baseurl}}/barba-exec.js" defer></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.1/TweenMax.min.js" defer></script>-->