<section class="header">
    <div class=logo>
            <div class="text">
               <h1>{{page.heading}}</h1>
                {% if page.subheading %}<h2>{{page.subheading}}</h2>{% endif %}
            </div>
            {% if page.rawname == 'home' %}
            <div class="makerlog-embed">
                <iframe scrolling="no" frameborder="0" allowtransparency="true" src="https://api.getmakerlog.com/users/26/embed/?header_color=%2332424A&title_color=%23FDD835"></iframe>
            </div>
            {% endif %}
    </div>
</section>
<header class="tabs">
    <button class="hamburger hamburger--spin" id="toggle-nav" type="button" onclick="document.getElementById('toggle-nav').classList.toggle('is-active'); document.body.classList.toggle('nav-out')">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <a href="{{site.baseurl}}/" class="logo">
        <img src="{{site.baseurl}}/img/logos/logo_trans.svg">
        <h2>Ethan</h2>
    </a>
    <nav>
        <ul>
            <div>
                <li><a href="{{site.baseurl}}/"><i class="icon-home"></i><span>Home</span></a>
                <!-- <li><a href="{{site.baseurl}}/coding"><i class="icon-code"></i><span>Coding</span></a></li> -->
                <li><a href="{{site.baseurl}}/photography"><i class="icon-camera"></i><span>Photography</span></a></li>
                <li><a href="{{site.baseurl}}/contact"><i class="icon-v-card"></i><span>Find me</span></a></li>
            </div>
            <div class="projects">
                <li class="nav-section-explainer"><span>🔥 Projects...</span></li>
                <li class="codetheweb"><a href="https://codetheweb.blog" target="_blank"><span class="short-name">CTW</span><span>Code The Web</span></a>
                <li class="kanbanmail"><a href="https://kanbanmail.app" target="_blank"><span class="short-name">KBM</span><span>KanbanMail</span></a>
            </div>
        </ul>
    </nav>
</header>
<a name="top" class="top-anchor"></a>


<script>
window.addEventListener('scroll', function(){
    var divBy = 6;
    var x = (window.scrollY / window.innerHeight) / divBy;
    if(x > 1/divBy) {
        x = 1/divBy;
    }
    console.log(x);
    document.querySelector('header').style.boxShadow = '0 0 1rem rgba(0,0,0,' + x + ')';
});
</script>