<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=1">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png?v=1">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png?v=1">
<link rel="manifest" href="/icons/manifest.json?v=1">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg?v=1" color="#b346ff">
<link rel="shortcut icon" href="/icons/favicon.ico?v=1">
<meta name="msapplication-config" content="/icons/browserconfig.xml?v=1">
<!-- icons from https://realfavicongenerator.net/favicon_result?file_id=p1bquejoc5jb26q91k0617q21qjc6#.Wcn3lNMjFxg -->