@import "webfonts/eb-garamond.scss";

@import "vars.scss";

:root {
  --page-border-width: 30px;
  @media screen and (max-width: $breakpoint-50px-padding) {
    --page-border-width: 15px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: hsl(39, 77%, 83%); // wheat
  color: hsl(0, 0%, 20%);
  font-family: Arial, "Helvetica Neue", sans-serif;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  --hero-horizontal-padding: 200px;
  padding: 0 var(--hero-horizontal-padding);
  padding-top: 122px;
  padding-bottom: $face-height;

  gap: 1em 0;

  @media screen and (max-width: $breakpoint-100px-padding) {
    --hero-horizontal-padding: 100px;
  }

  @media screen and (max-width: $breakpoint-50px-padding) {
    --hero-horizontal-padding: 50px;
    padding-top: 70px;
  }

  &-content {
    width: 100%;
    max-width: 535px;
    margin-left: calc((100vw - 2 * var(--hero-horizontal-padding)) / 2);

    @media screen and (max-width: $breakpoint-two-col) {
      margin-left: 0;
    }
  }

  &-feature {
    position: fixed;
    top: 122px;
    bottom: $face-height;
    left: var(--hero-horizontal-padding);
    height: calc(100vh - 122px - $face-height);

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $breakpoint-two-col) {
      position: static;
      height: auto;
    }

    @media screen and (max-width: $breakpoint-small-feature-text) {
      font-size: 0.9em;
    }

    @media screen and (max-width: $breakpoint-extra-small-feature-text) {
      font-size: 0.8em;
    }

    &-main-text {
      font-size: 3em;
      font-family: $fancy-serif;
      letter-spacing: -0.0625em;
      font-weight: 500;
      line-height: 1;

      transform: scaleY(2.5) scaleX(1.1) rotate(-4deg);
      transform-origin: bottom left;
      font-weight: bold;
      font-style: italic;
      padding-top: 2em; // To make up for all the weird transforms so it takes up the space it actually shows as
      width: max-content;
    }

    &-secondary-text {
      font-size: 1.25em;
      line-height: 1.4;

      transform-origin: top left;
      transform: rotate(-8.5deg);
      font-style: italic;
      margin-bottom: 0.7em;
      max-width: 450px;
    }
  }

  &-status {
    margin-top: 15px;
    line-height: 1.4;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid;
  }
}

.section-heading {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  padding-bottom: 5px;
  border-bottom: 1px dashed;
  margin-top: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;

  @media screen and (max-width: $breakpoint-cards-single-col) {
    grid-template-columns: 1fr;
  }

  &.single {
    grid-template-columns: 1fr;

    // Note min-width not max-width
    @media screen and (min-width: $breakpoint-cards-single-col) {
      a {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        > :last-child {
          white-space: nowrap;
        }
      }
    }
  }

  // Formerly &-card
  a {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    border-radius: 8px;
    background: hsla(0, 0%, 20%, 0.1);
    color: inherit;
    text-decoration: none;
    outline: none !important;

    &:hover {
      background: hsla(0, 0%, 20%, 0.15);
    }

    &:active {
      background: hsla(0, 0%, 20%, 0.2);
    }

    // Formerly &-title
    h3 {
      margin: 0;
      font-weight: 600;
      letter-spacing: -1px;
    }
    // Formerly &-text
    p {
      margin: 0;
      opacity: 0.76;
      font-size: 15px;
    }
  }
}

.find-me-on {
  line-height: 1.5;

  a {
    color: inherit;
    font-weight: 600;
    letter-spacing: -0.1px;
    text-decoration-thickness: 2px;
    display: inline-block;

    &:hover {
      text-decoration-style: dotted;
      background-color: hsla(0, 0%, 20%, 0.1);
    }
  }
}

.frame {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% + var(--page-border-width) * 4);
  height: calc(100% + var(--page-border-width) * 4);
  margin: calc(var(--page-border-width) * -2);
  border: calc(var(--page-border-width) * 3) solid;
  border-radius: calc(var(--page-border-width) * 4);
  pointer-events: none;
  z-index: 999;
}

.ethan {
  height: 166px;
  background-color: hsl(39.4, 26.4%, 47.5%);
  filter: saturate(0.5) contrast(1.3) brightness(1.5);
  width: max-content;
  border-radius: 50%;
}

@keyframes bop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.badges {
  display: flex;
  filter: grayscale(1);
  margin-bottom: -1em;

  img {
    margin-right: 5px;
  }
}
