---
title: Blog
layout: basic
rawname: blog-home
description: "I'm sharing my journey to give people like you an insight into what it takes to run an indie bootstrapped business online. Come join me!"
---
<link rel="stylesheet" href="/post.css">
{% include header.html %}
<main>
    <h1 class="blog-home-title">Some articles I've written &#x270D;&#xFE0F;</h1>
    {% for post in site.posts %}
    <a href="{{post.url}}" class="post-info">
        <img class="post-cover" src="{{post.image}}">
        <h1 class="post-title">{{post.title}}</h1>
        <div class="post-date">{{ post.date | date_to_string }}</div>
        {% if post.draft %}<div class="post-tag draft">Draft</div>{% endif %}
    </a>
</main>
{% endfor %}