---
---

<!--
View this code on Github instead:
https://github.com/Booligoosh/booligoosh.github.io
-->
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body
    class="{{page.rawname}}"
    {% if page.newstyle != true %}
    style="background: #32424A; opacity: 0; transition: opacity 1s, background-color 1s"
    {% endif %}
  >
    <a name="top"></a>
    {{ content }}
    {% if page.newstyle != true %}
    {% include before-body-end.html %}
    {% endif %}
  </body>
</html>
