---
layout: default
---
<div class=info>
    <div class="accounts">
        <h4>Here are my related accounts:</h4>
        <h4><a href="https://github.com/Booligoosh" target="blank">GitHub</a> - <a href="https://www.codingame.com/profile/1f7c0a954e65b4c68398cdf59a5fb7b56803941" target="blank">CodinGame</a> - <a href="https://www.codecademy.com/Booligoosh" target="blank">Codecademy</a></h4>
    </div>
    <p>{{content}}</p>
    {% include quicklinks.html %}
    <h3 id="backtotop"><a href="#top">Back to top &#10177;</a></h3>
</div>
<div class="websites-desktop">
    <table>
        <tbody>
        <!--BEGIN AUTO CONTENT-->
            {% assign codingposts = site.coding | reverse %}
            {% for post in codingposts %}
            <tr id="{{ post.rawname }}-desktop">
                <a name="{{ post.rawname }}-desktop"></a>
                <td id="left">
                    <a href="{{ post.link }}" target="blank">
                        <img src="{{site.baseurl}}/img/content/coding/{{post.image}}">
                    </a>
                </td>
                <td id="right">
                    <h2>{{ post.title }}</h2>
                    <h4>{{ post.content }}</h4>
                </td>
            </tr>
            {% endfor %}
        <!--END AUTO CONTENT-->
        </tbody>
    </table>
</div>
<div class="websites-mobile">
    <!--BEGIN AUTO CONTENT-->
    {% assign codingposts = site.coding | reverse %}
    {% for post in codingposts %}
    <div id="{{post.rawname}}-mobile">
        <a name="{{post.rawname}}-mobile"></a>
        <img src="{{site.baseurl}}/img/content/coding/{{post.image}}">
        <h2>{{post.title}}</h2>
        <h4>{{ post.content }}</h4>
    </div>
    {% endfor %}
    <!--END AUTO CONTENT-->
</div>
