<!--
View this code on Github instead: 
https://github.com/Booligoosh/booligoosh.github.io
-->
<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <!-- Search Engine Tags -->
    <meta name="robots" content="noarchive" />
    <meta name="description" content="This a portfolio website for Booligoosh, an amateur graphic designer & programmer. On this website you can view projects I've worked on, and sign up to my newsletter." />
    <meta name="keywords" content="booligoosh,coding,code,programming,github,scratch,design,logos,behance,amateur">
    <!-- Open Graph Tags -->
    <meta property="og:title" content="Programs by Booligoosh - the website of an amateur programmer" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="This a portfolio website for Booligoosh, an amateur graphic designer & programmer. With stunning graphics & exciting projects, this website is a pleasure to look around. On this website you can view projects I've worked on, and sign up to my newsletter." />
    <meta property="og:url" content="/coding.html" />
    <meta property="og:image" content="/y-og-image.png" />
</head>

<body>
    {% include header.html %}
    <div class="content">
        <div class=info>
            <div class="accounts">
                <h4>Here are my related accounts:</h4>
                <h4><a href="https://github.com/Booligoosh" target="blank">GitHub</a> - <a href="https://www.codingame.com/profile/1f7c0a954e65b4c68398cdf59a5fb7b56803941" target="blank">CodinGame</a> - <a href="https://www.codecademy.com/Booligoosh" target="blank">Codecademy</a></h4>
            </div>
            <h2>{{content}}</h2>
            {% include quicklinks.html %}
            <h3 id="backtotop"><a href="#top">Back to top &#10177;</a></h3>
        </div>
        <div class="websites-desktop">
            <table>
                <tbody>
                <!--BEGIN AUTO CONTENT-->
                    {% assign codingposts = site.coding | reverse %}
                    {% for post in codingposts %}
                    <tr id="{{ post.rawname }}-desktop">
                        <a name="{{ post.rawname }}-desktop"></a>
                        <td id="left">
                            <a href="{{ post.link }}" target="blank">
                                <img src="{{ post.image | prepend: site.img }}">
                            </a>
                        </td>
                        <td id="right">
                            <h2>{{ post.title }}</h2>
                            <h4>{{ post.content }}</h4>
                        </td>
                    </tr>
                    {% endfor %}
                <!--END AUTO CONTENT-->
                </tbody>
            </table>
        </div>
        <div class="websites-mobile">
            <!--BEGIN AUTO CONTENT-->
            {% assign codingposts = site.coding | reverse %}
            {% for post in codingposts %}
            <div id="{{post.rawname}}-mobile">
                <a name="{{post.rawname}}-mobile"></a>
                <img src="{{ post.image | prepend: site.img }}">
                <h2>{{post.title}}</h2>
                <h4>{{ post.content }}</h4>
            </div>
            {% endfor %}
            <!--END AUTO CONTENT-->
        </div>
    </div>
    {% include before-end-body-tag.html %}
</body>

</html>