---
---
<!--
View this code on Github instead:
https://github.com/Booligoosh/booligoosh.github.io
-->
<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="{{page.cat}}">
    <div id="all">
        {% include header.html %}
        <div id="barba-wrapper">
            <div class="barba-container">
                <section class="content">
                    {{ content }}
                    <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>