---
---
<!--
View this code on Github instead:
https://github.com/Booligoosh/booligoosh.github.io
-->
<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="{{page.cat}}">
    {% include header.html %}
    <div id="barba-wrapper">
        <div class="barba-container">
            <div class="content">
               <button class="hamburger hamburger--spin" type="button">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
                {{ content }}
            </div>
        </div>
    </div>
    {% include before-end-body-tag.html %}
</body>

</html>