---
layout: default
---
<div class=info>
    <div class="accounts">
        <h4>Here are my related accounts:</h4>
        <h4><a href="https://unsplash.com/@booligoosh">Unsplash</a></h4>
    </div>
    <p>{{content}}</p>
    {% include quicklinks.html %}
    <h3 id="backtotop"><a href="#top">Back to top &#10177;</a></h3>
</div>
<div class="photo-grid">
    <!--BEGIN AUTO CONTENT-->
        {% assign photos = site.photography | reverse %}
        {% for photo in photos %}
        <img src="{{photo.src}}">
        {% endfor %}
    <!--END AUTO CONTENT-->
</div>
