---
layout: default
---
<div class=info>
    <div class="accounts">
        <h4>Here are my related accounts:</h4>
        <h4><a href="https://unsplash.com/@booligoosh">Unsplash</a></h4>
    </div>
    <p>{{content}}</p>
    <h3 id="backtotop"><a href="#top">Back to top &#10177;</a></h3>
</div>
<div class="photo-grid">
    <!--BEGIN AUTO CONTENT-->
        {% assign photos = site.photography | reverse %}
        {% assign colsReal = 3 %}
        {% assign cols = colsReal | minus: 0 %}
        {% assign colsMinus = colsReal | minus: 1 %}
        {% assign size = photos | size %}
        {% assign perCol = size | divided_by: cols | floor %}
        
        {% for col in (0..colsMinus) %}
           {% assign i = forloop.index | plus: 0 %}
            <div class="col">
                {% for photo in photos %}
                    {% assign toMod = forloop.index | plus: i %}
                    {% assign mod = toMod | modulo: colsReal %}
                    <!--i:{{i}} | mod:{{mod}} | index:{{forloop.index}} <b>VERDICT: {% if mod == 0 %}YAY! :D{% else %}NAY! :({% endif %}</b><br>-->
                    {% if mod == 0 %}
                        <img src="{{photo.src}}">
                    {% endif %}
                {% endfor %}
        {% endfor %}
    <!--END AUTO CONTENT-->
</div>