---
layout: default
title: Scratch | Booligoosh
tabname: Scratch
---

<div class=info>
    <div class="accounts">
        <h4>Here is my profile:</h4>
        <h4><a href="https://scratch.mit.edu/" target="blank">Scratch</a></h4>
    </div>
    <p>{{content}}</p>
    {% include quicklinks.html %}
    <h3 id="backtotop"><a href="#top">Back to top &#10177;</a></h3>
</div>
<div class="projects-desktop">
    <table>
        {% assign scratchposts = site.scratch | reverse %}
        {% for post in scratchposts %}
        <tr id="{{post.rawname}}-desktop">
            <a name="{{post.rawname}}-desktop"></a>
            <td id="left">
                <iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/{{post.projectid}}/?autostart=false" frameborder="0" allowfullscreen></iframe>
                <td id="right">
                    <h2>{{post.title}}</h2>
                    <h4>{{post.content}}</h4>
                </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="projects-mobile">
    {% assign scratchposts = site.scratch | reverse %}
    {% for post in scratchposts %}
    <div id="{{post.rawname}}-mobile">
        <a name="{{post.rawname}}-mobile"></a>
        <script src=//phosphorus.github.io/embed.js?id={{post.projectid}}&auto-start=false&light-content=false></script>
        <h2>{{post.title}}</h2>
        <h4>{{post.content}}</h4>
    </div>
    {% endfor %}
</div>